@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  color: #202020;
  background-color: #204b5e;
}